#army_list {
    list-style: none;
}

#army_list form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    border: 1px solid #000;
    padding: .25rem;
}

#army_list div {
    grid-column: span 1;
}

.weapon_select, .gear_select {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}